<!-- Full Width Column -->
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Content Header (Page header) -->

    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="orange" loadingText="Processing..." type="ball-clip-rotate"></ngx-spinner>
    <!-- Content Header (Page header) -->
    <ngx-msg></ngx-msg>

    <!-- Main content -->
    <section class="content" style="height:1000px">
      <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3>
            <i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

          <p>
            We could not find the page you were looking for. Meanwhile, you may
            <a routerLink="/dash">return to dashboard</a>
          </p>


        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.container -->
</div>
<!-- /.content-wrapper -->